*.class
*.DS_Store
./bin/*
gollyparser/GollyRleLexer.java
gollyparser/GollyRleBaseListener.java
gollyparser/GollyRleListener.java
gollyparser/GollyRleParser.java
gollyparser/GollyRle.tokens
gollyparser/GollyRleLexer.tokens